<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <a href="/travels">Home</a>
    <h1>{{tripinfo.destination}}</h1>
    <p>Planned by: {{tripinfo.uploader.name}}</p>
    <p>Travel Date From: {{tripinfo.travelstart}}</p>
    <p>Travel Date To: {{tripinfo.travelend}}</p>
    <h3>Other users' joining the trip:</h3>
    <ul>
        {% for user in users.joiner.all %}
        <li>{{user.name}}</li>
        {% endfor %}
    </ul>
</body>
</html>